html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav-link {
  font-weight: 400 !important;
  font-size: 20px !important;
  line-height: 27px !important;
  color: #5C415D !important;
}

.nav-link:hover {
   text-decoration: underline;
   text-decoration-color: #24AAE2;
   -moz-text-decoration-color: #24AAE2;
   text-decoration-thickness: 5px;
   /* border-bottom: 3px solid #24AAE2; */
}

input:focus {
  border: none !important;
  background-color: transparent;
  resize: none;
  outline: none;
  border-radius: 20px;
}

input {
  border: none !important;
  background-color: transparent;
  resize: none;
  outline: none;
  border-radius: 20px;

}