.container {
  padding: 0 2rem;
}

.container_1 {
  width: 100%;
  background: linear-gradient(296deg, #24AAE2 40.17%, #BDECFF 90.8%);
  border-radius: 19px;
}

.container_2{
  width: 1201px;
  height: 319.24px;
  background: #3F2C40;
  border-radius: 45px;
}

.container_3 {
  width: 100%;
  height: 165px;
  background: #24AAE2;
  display: flex;
  align-items: center;
}
.text_1 {
  font-weight: 700;
  font-size: 55px;
  line-height: 75px;
}

.text_2 {
  font-weight: 800;
  font-size: 90px;
  line-height: 123px;
  color: #FFFFFF;
  text-shadow: 9px 8px 11px rgba(0, 0, 0, 0.12);
}

.text_3 {
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  color: #3F2C40;
}

.text_4 {
 font-weight: 800;
 font-size: 50px;
 line-height: 68px;
 color: #FFFFFF;
 text-shadow: 9px 8px 11px rgba(0, 0, 0, 0.12);
}

.text_5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
}

.text_6 {
  margin: 0 !important;
 font-weight: 700;
 font-size: 30px;
 line-height: 41px;
 color: #5C415D;
}

.text_7 {
 font-weight: 700;
 font-size: 50px;
 line-height: 68px;
 color: #3F2C40;
}

.text_8{
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

.text_9 {
 font-weight: 700;
 font-size: 50px;
 line-height: 68px;
 color: #24AAE2;

}

.text_10 {
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
  color: #5C415D;

}

.text_11{
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
  color: #000000;
  text-align: center;
}

.text_12{
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  padding-bottom: 10px;

}

.text_13 {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  
}

.text_14{
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  padding-bottom: 5px;
}

.text_15 {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  padding-bottom: 5px;
}
.text_16{
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
}

.text_17{
  font-weight: 500;
  font-size: 25px;
  line-height: 34px;
  color: #FFFFFF;
  text-align: center;
}

.text_18{
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
}

.text_19{
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
}

.button_1 {
  margin: 0 !important;
  width: 302px;
  height: 59px;
  background-color: #3F2C40 !important;
  border-radius: 20px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}

.button_2 {
  margin: 0 !important;
  width: 302px;
  height: 59px;
  background-color: #24AAE2 !important;
  border-radius: 20px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}

.bg_img_1{
    background-image: url("/images/texture.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right bottom;

    width: 600px;
    height: 520px;

}

.bg_img_2 {
  background-image: url("/images/texture_2.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left bottom;
}

.bg_img_3 {
  background-image: url("/images/Polygon_2.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left top;
}

.card_1{
  width: 375px;
  height: 471px;
  background: #FFFFFF;
  box-shadow: 0px 0px 17px 6px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 20px;
}

.card_2{
  width: 375px;
  height: 471px;
  background: #3F2C40;
  box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 20px;

}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}