.container {
  padding: 0 2rem;
}

.container_1 {
  width: 100%;
  background: linear-gradient(296deg, #24AAE2 40.17%, #BDECFF 90.8%);
  border-radius: 19px;
  padding: 5px;
}

.container_2 {
  width:100%;
  height: 319.24px;
  background: #3F2C40;
  border-radius: 45px;
  padding: 5px;
}

.container_3 {
  width: 100%;
  background: #24AAE2;
  display: flex;
  align-items: center;
}

.container_4{
  width: 423px;
  background: #FFFFFF;
  border-radius: 24px;
  padding: 10px;

}

/* Media Query max width 426px */
@media screen and (max-width:425px) {
 .text_1 {
   font-weight: 700;
   font-size: 35px;
   line-height: 35px;
 }
 .text_3 {
   font-weight: 300;
   font-size: 14px;
   line-height: 27px;
   color: #3F2C40;
 }

 .text_17 {
   font-weight: 500;
   font-size: 15px;
   line-height: 34px;
   color: #FFFFFF;
   text-align: center;
 }

 .bg_img_3 {
   background-image: url("/images/Polygon_2.png");
   background-repeat: no-repeat;
   background-size: auto;
   background-position: -50px 30px;
   padding-top: 50px;
 }
 .text_2 {
   font-weight: 800;
   font-size: 70px;
   line-height: 83px;
   color: #FFFFFF;
   text-shadow: 9px 8px 11px rgba(0, 0, 0, 0.12);
 }

 .text_9 {
   font-weight: 700;
   font-size: 30px;
   line-height: 68px;
   color: #24AAE2;

 }

 .text_10 {
   font-weight: 700;
   font-size: 30px;
   line-height: 68px;
   color: #5C415D;

 }

.text_11 {
  font-weight: 400;
  font-size: 15px;
  line-height: 34px;
  color: #000000;
  text-align: center;
}

.text_6 {
  margin: 0 !important;
  font-weight: 700;
  font-size: 20px;
  line-height: 41px;
  color: #5C415D;
}

.text_7 {
  font-weight: 700;
  font-size: 40px;
  line-height: 68px;
  color: #3F2C40;
}

.text_8 {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}
.text_18 {
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  color: #FFFFFF;
}


}


/* Media Query min width 426px */
@media screen and (min-width:426px) {
  .text_1 {
    font-weight: 700;
    font-size: 55px;
    line-height: 75px;
  }
  .text_3 {
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: #3F2C40;
  }

  .text_17 {
    font-weight: 500;
    font-size: 25px;
    line-height: 34px;
    color: #FFFFFF;
    text-align: center;
  }

  .bg_img_3 {
    background-image: url("/images/Polygon_2.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 30px 30px;
    padding-top: 50px;
  }
  .text_2 {
    font-weight: 800;
    font-size: 90px;
    line-height: 123px;
    color: #FFFFFF;
    text-shadow: 9px 8px 11px rgba(0, 0, 0, 0.12);
  }

  .text_9 {
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    color: #24AAE2;

  }

  .text_10 {
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    color: #5C415D;

  }

.text_11 {
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
  color: #000000;
  text-align: center;
}

.text_6 {
  margin: 0 !important;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #5C415D;
}

.text_7 {
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
  color: #3F2C40;
}

.text_8 {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

.text_18 {
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
}


}


.text_4 {
  font-weight: 800;
  font-size: 50px;
  line-height: 68px;
  color: #FFFFFF;
  text-shadow: 9px 8px 11px rgba(0, 0, 0, 0.12);
}

.text_5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
}


.text_12 {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  padding-bottom: 10px;

}

.text_13 {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;

}

.text_14 {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  padding-bottom: 5px;
}

.text_15 {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  padding-bottom: 5px;
}

.text_16 {
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
}





.text_18:hover {
  color: #3F2C40;
}

.text_19 {
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
}

.button_1 {
  margin: 0 !important;
  max-width: 302px;
  height: 59px;
  background-color: #3F2C40 !important;
  border-radius: 20px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}

.button_2 {
  margin: 0 !important;
  max-width: 302px;
  height: 59px;
  background-color: #24AAE2 !important;
  border-radius: 20px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}

.button_3 {
  width: 147px;
  height: 57px;
  border-radius: 17px;
  margin: 0 0 0 5px !important;
  background-color: #24AAE2 !important;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

.bg_img_1 {
  background-image: url("/images/texture.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right bottom;

  max-width: 600px;
  height: 520px;

}

.bg_img_2 {
  background-image: url("/images/texture_2.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left bottom;
}



.bg_img_4 {
  background-image: url("/images/Group_2.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50px 150px;
  padding: 10px;
}

.bg_img_5 {
  background-image: url("/images/Polygon.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center 30%;
}

.card_1 {
  width: 375px;
  min-height: 471px;
  background: #FFFFFF;
  box-shadow: 0px 0px 17px 6px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 20px;
}

.card_2 {
  width: 375px;
  min-height: 471px;
  background: #3F2C40;
  box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 20px;

}
